* {
    font-family: sans-serif;
    color: #000;
 }

 body {
    padding: 0 0 20px;
    margin: 0 auto;
    width: 1050px;
    max-width: 98%;
    word-wrap: break-word;
    word-break: break-word;
 }

 h2 {
    text-align: center;
    font-size: 30px;
 }

 .Anime {
    background-color: #4B8DEE;
 }

 .Music {
    background-color: #fff;
 }

 .VideoGames {
    background-color: #F93F3F;
 }

 div {
    padding: 30px;
    max-width: 100%;
 }

 hr {
    margin: 0;
    height: 10px;
    background-color: #000;
 }

 .image {
    height: 300px;
    float: right;
    margin: 0 0 0 20px;
    box-shadow: 10px 10px 8px #000;
 }

p {
    font-size: 18px;
}

.header {
    font-size: 30px;
}

#header {
    text-align: right;
    width: 50%;
    border-width: 0;
}