* {
    font-family: sans-serif;
    color: #000;
 }

 h2 {
    text-align: center;
 }

 .Anime {
    background-color: #4B8DEE;
 }

 .Music {
    background-color: #F93F3F;
 }

 .VideoGames {
    background-color: #B960FF;
 }

 div {
    padding: 30px;
    max-width: 100%;
 }

 hr {
    margin: 0;
    height: 10px;
    background-color: #000;
 }

 .image {
    height: 250px;
    float: right;
    margin: 0 0 0 20px;
    box-shadow: 10px 10px 8px #000;
 }

