* {
    font-family: sans-serif;
    color: #000;
 }

 .body {
    padding: 0 0 20px;
    margin: 0 auto;
    width: 1050px;
    max-width: 98%;
    word-wrap: break-word;
    word-break: break-word;
 }

 h2 {
    text-align: center;
    font-size: 30px;
 }

 .Anime {
    background-color: #4B8DEE;
 }

 .Music {
    background-color: #fff;
 }

 .VideoGames {
    background-color: #F93F3F;
 }

 div {
    padding: 30px;
    max-width: 100%;
 }

 hr {
    margin: 0;
    height: 10px;
    background-color: #000;
 }

 .image {
    height: 300px;
    float: right;
    margin: 0 0 0 20px;
    box-shadow: 10px 10px 8px #000;
 }

p {
    font-size: 18px;
}

.header {
    font-size: 30px;
}

#header {
    text-align: right;
    width: 50%;
    border-width: 0;
    margin-top: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  font-size: 18px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

.active {
  background-color: #9B9B9B;
}